.container-fluid {
    padding: 0;
    margin: 0;
}

.aside {
    background-color: rgb(231, 225, 225);
    border: 2px;
    border-color: black;
}

.col-lg-3 .pb-3 {
    border: 2px;
    border-color: black;
}

.card {
    background-color: rgb(203, 199, 199);
    font-size: 2rem;
    display: flex;
    align-items: flex-start; 
    padding: 10px;
    margin: 10px;
    border: 10px;
    border-color: black; 
    outline: black;
}

.icon {
    height: 100px;
}

.input-group {
    display: inline-block;
    text-align: center;
    color: blue;
}

#form-heading {
    text-align: center;
}

#history {
    outline: black;
    padding: 10px 0; 
}

.search-button {
    padding: 10px;
    margin: 10px;
}