body {
    background-color: rgb(231, 225, 225);
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.aside {
    background-color: rgb(231, 225, 225);
    border: 2px;
    border-color: black;
}

.col-lg-3 .pb-3 {
    border: 2px;
    border-color: black;
}
